<div class="container">

  <h2><%= @cocktail.name %></h2>

  <% @cocktail.doses.each do |dose| %>
    <li>
    <%= dose.description %>
    <%= dose.ingredient.name %>
    <%= link_to 'Delete', dose_path(dose), :method => 'delete', class: "btn btn-danger"%>
    </li>

  <% end %>

  <div>

    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.association :ingredient %>
      <%= f.input :description %>
      <%= f.submit "Add dose", class: "btn btn-primary" %>
    <% end %>

  </div>

  <%= link_to 'Back to list', root_path, class: "btn btn-danger" %>

</div>

