<h1>Cocktails#show</h1>
<p>Find me in app/views/cocktails/show.html.erb</p>

<h2><%= @cocktail.name %></h2>

<% @cocktail.doses.each do |dose| %>
<p><%= dose.description %></p>
<% end %>

<div class="form-inline">

  <%= simple_form_for [@cocktail, @dose], do |f| %>
    <%= f.input :description %>
    <%= f.submit "Add dose", class: "btn btn-primary" %>
  <% end %>

</div>


<%= link_to 'Back to list', cocktails_path, class: "btn btn-danger" %>
